*{
    box-sizing: border-box;
    outline: none;
}
body{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: DungGeunMo;
    font-style: normal;
    font-style: normal;
    font-weight: normal;

    src: local('DungGeunMo'), 
    url(../../font/DungGeunMo.ttf) format('truetype');
}
.all{
    position: relative;
    width: 100%;
	min-width: 1600px;
}
.topBox{
    float: left;
    width: 100%;
    height: 263px;

    .top{
        float: left;
        width: 100%;
        height: 158px;
        background-color: white;

        .logoBox{
            position: relative;
            width: 1549px;
            margin: auto;

            .logo{
                width: 220px;
                margin: 35px 0 0 -9px;
            }
        }
        .menu{
            position: relative;
            width: 100%;
            height: 210px;
            margin-top: -53px;

            .menuTop{
                width: 100%;
                height: 105px;
                padding-left: 435px;

                .menuContent{
                    width: 100%;
                    height: 100%;
                    border-left: 100px solid transparent;
                    border-bottom: 105px solid #7E6B5A;

                    .menuContents{
                        float: left;
                        text-align: center;
                        line-height: 100px;
                        width: 190px;
                        height: 105px;
                        font-size: 24px;
                        font-family: DungGeunMo;
                        color: white;
                        margin: 0 20px;
                        padding: 100px auto;
                    }
                    .logout{
                        float: right;
                        width: 105px;
                        height: 45px;
                        color: white;
                        font-size: 18px;
                        font-family: DungGeunMo;
                        margin: 30px;
                        border: none;
                        background-color: #59493F;
                    }
                    .info{
                        float: right;
                        width: 195px;
                        height: 105px;
                        line-height: 55px;
                        margin-right: 50px;

                        .name{
                            float: right;
                            font-size: 24px;
                            font-family: DungGeunMo;
                            color: white;
                        }
                        .sla{
                            font-size: 18px;
                        }
                        .profile{
                            float: right;
                            width: 70px;
                            height: 70px;
                            margin: 15px 30px 0 0;
                            border-radius: 100px;
                            background-color: white;
                        }
                    }
                    
                }
            }
            .menuBottom{
                width: 435px;
                height: 105px;
                border-right: 100px solid transparent;
                border-top: 105px solid #59493F;

                .gameStart{
                    font-size: 36px;
                    font-family: DungGeunMo;
                    color: white;
                    text-align: center;
                    margin-top: -70px;
                }
            }
        }
    }
}