*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #EBEBEB;
}

@font-face {
    font-family: DungGeunMo;
    font-style: normal;
    font-style: normal;
    font-weight: normal;

    src: local('DungGeunMo'), 
         url(../../../font/DungGeunMo.ttf) format('truetype');
}

.LoginBox {
    width: 530px;
    height: 215px;

    border-radius: 10px;

    background-color: #7E6B5A;

        .loginInputBox {
            margin: 35px 0 0 42px;
            float: left;

            .loginInput {
                width: 300px;
                height: 57px;

                text-indent: 21px;
                font-family: DungGeunMo;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 24px;

                border: none;
                border-radius: 10px;
            }
        }

    .loginBtn {
        margin: 33px 39px 0 0;

        background-color: #59493F;
        float: right;
        width: 130px;
        height: 130px;

        color: white;
        font-family: DungGeunMo;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        
        border: none;
        border-radius: 16px;
    }
}
