*:focus {
    outline: none;
}

body {
    margin: 0;
    background-color: #EBEBEB;
}

@font-face {
    font-family: DungGeunMo;
    font-style: normal;
    font-style: normal;
    font-weight: normal;

    src: local('DungGeunMo'), 
         url(../../../font/DungGeunMo.ttf) format('truetype');
}

.LoginBox {
    width: 530px;
    height: 215px;

    float: left;

    background-color: #7E6B5A;

    .loginBtn {
        margin: 33px 43px 0 19px;

        background-color: #59493F;
        float: right;
        width: 130px;
        height: 130px;

        color: white;
        font-family: DungGeunMo;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;

        
        border: none;
        border-radius: 16px;
    }

    .loginInputBox {
        margin-top: 35px;
        float: right;

        .loginInput {
            width: 300px;
            height: 57px;
            float: right;

            text-indent: 21px;
            font-family: DungGeunMo;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;

            border: none;
            border-radius: 10px;
        }
    }


}
