body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: DungGeunMo;
    font-style: normal;
    font-style: normal;
    font-weight: normal;

    src: local('DungGeunMo'), 
         url(../../font/DungGeunMo.ttf) format('truetype');
}

.Main {
  position: relative;
	width: 100%;
	min-width: 1600px;

	z-index: 1;
	
	
	
	.logo_div {
		position: relative;         
		height: 0;
		
		margin: 0 1450px 0 0;

		.logo {
			position: relative;
			left: 50%;               
			top: 10px;
							
			width: auto;
			height: 90px;

			z-index: 2;
		}
	}

  .content {
    width: 100%;
		height: 1483px;
		margin: 0;
		padding: 0;

    background-color: #EBEBEB;

    .top {
	position: relative;
    width: 100%;
	height: 527px;
    background-color: white;
	overflow: hidden;

      .img_file {
		position: relative;
        width: 100%;
        height: auto;
		max-width: initial;

      	z-index: 1;
      }
		}
	.button {	    

		float: left;

		.button_box {
			position: relative;
			top: -100px;

			width: 937px;
			height: 212px;

			margin-top: -5px;

			background-color: yellow;
			z-index: 3;

			.start {
				position: relative;
			}
		}
	}

    .LoginBox {
      position: relative;
      top: -500px;
      left: 50%;

			margin-left: 255px;

      z-index: 2;
    }

    .boxes {
      align-items: center;
      width: 1577px;
      height: 530px;

      text-align: center;
      color: white;
            
			margin: auto;

			.box1 {
				float: left;

				width: 937px;
				height: 530px;

				background: #59493F;
				border-radius: 30px;

				margin-right: 110px;
			}

			.box2 {
				float: left;

				width: 530px;
				height: 530px;

				background: #59493F;
				border-radius: 30px;;
			}
		}
	}
}