body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: DungGeunMo;
    font-style: normal;
    font-style: normal;
    font-weight: normal;

    src: local('DungGeunMo'), 
    url(../../font/DungGeunMo.ttf) format('truetype');
}

.all{
	position: relative;
    width: 100%;
	min-width: 1600px;
	
	.mainTop{ 
		position: relative;
		width: 100%;
		height: 634px;
		z-index: 1;

		.mainBackground{
			position: relative;
			width: 100%;
			height: 528px;
			z-index: 1;
			background-color: white;
			overflow: hidden;

			.main_image {
				position: relative;
				width: 100%;
				height: auto;
				top: -440px;
				max-width: initial;
				z-index: 1; 

			}

			.mainContent{
				position: relative;
				width: 1549px;
				height: 423px;
				margin: auto;
				z-index: 3;

				.logo{
					width: 220px;
					margin-top: 35px;
				}
		}
	}
		.menu{
			position: relative;
			top: -106px;
			left: 50%;
			width: 100%;
			height: 212px;
			max-width: 1584px;
			z-index: 3;
			margin: 0 -809px;
			
			.downLoad{
				position: relative;
				float: left;
				height: 106px;
				padding-top: 71px;
				z-index: 3;
	
				.icon{
					width: 35px;
					height: 35px;
				}
			}
			.menuTop{
				float: left;
				width: 916px;
				height: 106px;

				.gameStart{
					position: relative;
					top: -105px;
					width: 210px;
					height: 106px;
					border-right: 70px solid transparent;
					border-bottom: 105px solid #59493F;
				}
				.gameStartMent{
					position: relative;
					margin: -175px 40px;
					color: white;
					font-family: DungGeunMo;
					font-size: 36px;
				}
			}
			.menuBottom{
				float: left;
				width: 916px;
				height: 106px;
				padding-left: 281px;

				.menuContent{
					width: 565px;
					height: 106px;
					border-left: 70px solid transparent;
					border-top: 105px solid #7E6B5A;
					
					.menuBox{
						width: 542px;
						height: 106px;
						margin-top: -106px;
						text-align: center;
						padding: 40px 0;

						.menuMent{
							float: left;
							width: 160px;
							height: 106px;
							color: white;
							margin-right: 30px;
							font-size: 24px;
							font-family: DungGeunMo;
							
							.menu_text {
								text-decoration: none;
								color: white;
								&:hover {
									color: #AAAAAA;
								}
							}
						}
						.lastMenu{
							float: left;
							width: 160px;
							height: 106px;
							text-decoration: none;
							color: white;
							font-size: 24px;
							font-family: DungGeunMo;

							.menu_text {
								text-decoration: none;
								color: white;
								&:hover {
									color: #AAAAAA;
								}
							}
						}
					}
				}
			}
			.menuLogin{
				float: right;
				width: 530px;
				height: 212px;
				margin-top: -212px;
				background-color: #7E6B5A;
			}
		}
		.content{
			position: relative;
			width: 1549px;
			height: 611px;
			margin: -50px auto 192px;
			
			.noticeDec{
				position: absolute;
				float: left;
				width: 916px;
				height: 81px;

				.dec{
					width: 230px;
				}
			}
			.mainNotice{
				position: absolute;
				float: left;
				width: 916px;
				height: 530px;
				margin-top: 81px;
				border-radius: 30px;
				background-color: #59493F;
			}
			.mainPost{
				position: relative;
				float: right;
				width: 530px;
				height: 530px;
				top: 31px;
				border-radius: 30px;
				background-color: #59493F;
			}
		}
	}
}