* {
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	min-height: 900px;
}

@font-face {
	font-family: DungGeunMo;
	font-style: normal;
	font-style: normal;
	font-weight: normal;

	src: local('DungGeunMo'), 
	url(../../font/DungGeunMo.ttf) format('truetype');
}

.RegisterPage {
	width: 100%;
	min-width: 1500px;
	height: 100vh;
	min-height: 900px;
	max-height: 1080px;

	.register {
		width: 1412px;
		height: 100vh;
		min-height: 900px;
		max-height: 1080px;
		float: right;

		.register_back {
			width: 1412px;
			height: 100vh;
			max-height: 1080px;
			border-left: 400px solid transparent;
			border-bottom: 100vh solid #59493F;
			z-index: 1;
		}

		.register_front {
			position: relative;
			width: 1389px;
			height: 100vh;
			min-height: 900px;
			top: -100vh;
			border-left: 300px solid transparent;
			border-top: 100vh solid #7E6B5A;
			float: right;

			.register_box {
				position: relative;
				top: -96.5vh;
				width: 550px;
				height: 866px;
				margin: 0 auto;
				z-index: 2;

				.logo {
					width: 550px;
					height: 96px; 
					margin-bottom: 10px;

					.logo_img {
						width: auto;
						height: 96px;	
						margin-left: 122px;
					}
				}

				.input_boxes {
					position: relative;
					width: 550px;
					height: 102px;
					margin-top: 16px;
					z-index: 3;

					.input_boxes_text {
						margin: 0;
						font-family: DungGeunMo;
						color: white;
						font-size: 24px;
					}

					.input_boxes_input {
						position: relative;
						width: 550px;
						height: 65px;
						border: white;
						border-radius: 5px;
						font-family: DungGeunMo;
						font-size: 25px;

						margin-top: 10px;
					}
				}

				.button_div {
					width: 550px;
					height: 65px;
					margin-top: 115px;
					z-index: 3;

					.button_button {
						width: 550px;
						height: 65px;
						border: white;
						border-radius: 5px;
						background-color: #59493F;
						font-family: DungGeunMo;
						color: white;
						font-size: 36px;
					}
				}
			}
		}
	}
}
