* {
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: DungGeunMo;
	font-style: normal;
	font-style: normal;
	font-weight: normal;

	src: local('DungGeunMo'), 
	url(../../../font/DungGeunMo.ttf) format('truetype');
}

.LoginPage {
	width: 550px;
	height: 840px;

	.logo {
		width: 550px;
		height: 96px;
		
		.logo_img {
			margin-left: 122px;
		}
	}

	.input_boxes {
		position: relative;
		width: 550px;
		height: 249px;
		margin-top: 159px;
		z-index: 3;
		background-color: brown;

		.input_boxes_text {
			margin: 0;
			font-family: DungGeunMo;
			color: white;
			font-size: 24px;
		}

		.input_boxes_input {
			position: relative;
			width: 550px;
			height: 65px;
			border: white;
			border-radius: 5px;
			font-family: DungGeunMo;
			font-size: 24px;

			margin-top: 10px;
		}
	}	

	.login_button_div {
		width: 550px;
		height: 65px;
		margin-top: 270.7px;

		.button_button {
			width: 550px;
			height: 65px;
			border: white;
			border-radius: 5px;
			background-color: #59493F;
			font-family: DungGeunMo;
			color: white;
			font-size: 36px;
		}
	}
}